* {
  box-sizing: border-box;
}

body {
  background-image: url("C:\Users\smanu\OneDrive\Desktop\ossss\WhatsApp Image 2024-08-30 at 06.31.01_d1497117.jpg"); 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center; 
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

header {
  background-color: rgba(76, 175, 80, 0.8); 
  color: white;
  padding: 20px 0;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

section {
  padding: 30px0; 
}

h2 {
  text-align: center;
}

#about {
  background-color: rgba(
    249,
    249,
    249,
    0.9
  ); 
  padding: 60px0; 
  min-height: 400px;
  text-align: center; 
}

.about-content {
  display: block;
}

.about-image {
  width: 200px; 
  max-height: 200px; 
  height: auto; 
  margin: 0 auto; 
}

.about-text {
  max-width: 600px; 
  margin: 20px auto; 
}

.skill {
  margin: 20px0; 
}

.skill-bar {
  background-color: #e0e0e0; 
  border-radius: 5px; 
  height: 25px; 
}

.skill-level {
  height: 100%; 
  border-radius: 5px; 
}


.java {
  width: 80%; 
  background-color: #f89820;
}

.python {
  width: 70%; 
  background-color: #3572a5; 
}

.c {
  width: 60%; 
  background-color: #555555; 
}

form {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

form input,
form textarea {
  width: 80%; 
  max-width: 400px;
  margin-bottom: 10px;
  padding: 10px;
}

form button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px20px; 
  cursor: pointer;
}

form button:hover {
  background-color: #45a049;
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px0;
}
